.body, .html {
    margin: 0;
    padding: 0;
}

.header-text{
    margin-top: 0;
}
.body {
    position: relative;
}

.header-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 10vh;
    border: 3px solid black;
    background-color: gray;
    color: white;
    z-index: 1;
    position: fixed;
    width: 600px;
    box-shadow: -3px 3px black;
}
.header-text {
    font-weight: 700;
    font-size: larger;
}

.boards-container {
    display: flex;
    justify-content: center;
    margin-left: 4300px;
}

#boards {
    display: grid;
    grid-template-columns: repeat(500, 1fr);
    margin: auto;
    /* 452rem*/
    /*padding: 1.5rem 1.5rem 1.5rem 1.5rem;*/
    border: 5px solid black;
    
}
.cell {
    width: 15px;
    height: 15px;
    border: 1px solid gray;
}
.cell:hover {
    cursor: pointer;
}
.options {
    margin: -20px ;
    padding: 0;
}
.options > ul {
    display: flex;
    justify-content: space-around;
}
li {
    border: 1px solid black;
    padding: 2px 4px;
    border-radius: 5px;
    box-shadow: -3px 3px black;
}
li:hover {
    cursor: pointer;
    font-style: italic;
}
li:active {
    background-color: white;
    color: black;
}



